html, body {
    background-color : #FFFFFF;
    color: #000000;
    font-size: 9pt;
}

.content {
    width: 100%;
    border: 0 none #FFFFFF;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
